/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins.less
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
body {
  padding-top: 40px;
}
article aside {
  margin-top: 20px;
}
article aside > div {
  min-height: 500px;
  background: #efefef;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}
article aside > div .pills li {
  display: block;
  float: none;
  font-size: 20px;
}
article aside > div .pills li a {
  padding: 5px 15px;
}
article section {
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  display: none !important;
  background: white;
}
article section.active {
  display: block !important;
}
article section .interactions li {
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  list-style: none;
}
article section .interactions li.rank_1,
article section .interactions li.rank_2,
article section .interactions li.rank_3,
article section .interactions li.rank_4 {
  color: #333;
}
article section .interactions li.rank_1, article section .interactions li.rank_2 {
  border-left: 4px solid #E31230;
}
article section .interactions li.rank_3 {
  border-left: 4px solid #F89406;
}
article section .interactions li.rank_4 {
  border-left: 4px solid #EEDC94;
}
article section .interactions li.rank_5 {
  border-left: 4px solid #eee;
}
article section .interactions li .label.IOS {
  background-color: #62CFFC;
}
article section .interactions li .label.Android {
  background-color: #A4C639;
}
article section .interactions li .preview {
  display: none;
}
article section .interactions li.rank_5 {
  color: #aaa;
}
article section .interactions li.rank_5 .preview {
  display: block;
}
article section .interactions li.rank_5 .full {
  display: none;
}
article section .interactions li.rank_5 div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
